body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
}

main {
  background-color: #f5f5f5;
  height: 600px;
  max-width: 800px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 100px;
}

.dice-box {
  background-color: #ebebeb;
  height: 100px;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-box:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.dice-num {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;

  color: #333;
}

@media (min-width: 768px) {
  .dice-box {
    height: 120px;
    width: 60px;
  }
}

@media (min-width: 1024px) {
  .dice-box {
    height: 140px;
    width: 70px;
  }
}
